# Frontend
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/.gradle
backend/build/
backend/!gradle/wrapper/gradle-wrapper.jar
backend/*.class
backend/src/main/resources/application-local.yml
backend/src/main/resources/application-prod.yml

# IDE
.idea/
*.iml
.vscode/

# Common
.DS_Store
.env
