body{
  background-image: url('https://source.unsplash.com/category/nature/');
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  writing-mode: horizontal-tb;
}

label .div.loginInput{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  cursor: default;
}